<div class="p-2">
  <% @posts.each_with_index do |post, i| %>
    <div class="d-flex">
      <div class="d-flex gap-2">
        <div class="grey-text text-10pt">
          <%= i + 1 %>.
        </div>
        <div class="d-flex flex-column">
          <span class="text-10pt">
            <%= link_to post.title, post_path(post), class: "title" %>
            <%= link_to post.url, post_path(post), class: "link " %>
          </span>
          <span class="post-infos"><%= post.score %> points by <%= post.author %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
