<div class="p-2">
  <h6>Rank: #<%= @rank %></h6>
  <div class="d-flex">
    <div class="d-flex gap-2">
      <div id="<%= dom_id(@post, :icon) %>" class="icon">
        <%= button_to upvote_post_path(@post), method: :post, remote: true, class: "upvote-button" do %>
          <i class="fa-solid fa-caret-up" style="color: <%= current_user&.upvotes&.exists?(post: @post) ? 'orange' : 'grey' %>; cursor: pointer;"></i>
        <% end %>
      </div>
      <div class="d-flex flex-column">
        <span>
          <%= link_to @post.title, @post.url, class: "title" %>
          <%= link_to @post.url, @post.url, class: "link" %>
        </span>
        <span id="<%= dom_id(@post, :score) %>" class="post-infos">
          <%= @post.score %> points by <%= @post.author %>
        </span>


  <div>
    <%= simple_form_for([@post, @comment]) do |form| %>
      <div class="form-group">
        <%= form.input :content, label: "Add a comment:", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= form.button :submit, "Post Comment", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
<div>
    <% @comments.each do |comment| %>
      <div class="comment-container"
           data-controller="emoji-picker"
           data-emoji-picker-user-value="<%= current_user.id %>"
           data-emoji-picker-comment-value="<%= comment.id %>">
        <i class="fa-solid fa-caret-right" style="color:grey"></i>
        <span class="comment-info">
          <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %> ago
        </span>
        <div class="comment">
          <%= comment.content %>
        </div>
        <div class="reactions">
          <span class="reaction-list">
            <% comment.reactions.group(:reaction_type).count.each do |emoji, count| %>
              <span><%= count unless count == 1 %><%= emoji %></span>
            <% end %>
          </span>
          <button type="button"
                  class="btn"
                  data-action="click->emoji-picker#displayEmojis">
                  <i class="fa-solid fa-face-smile">+</i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
