<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hn Copycat" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= favicon_link_tag asset_path('hackernews-logo-fffd3821e1195fbb2e936706276e66454ee5550ef94667758ea32583087bf303.svg'), type: 'image/svg+xml' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
